*{
    /*border: 1px solid rgb(174, 233, 234);*/
    margin:0;
    padding:0;
    text-align:center;
    box-sizing:border-box;
}
p{
    background-color: rgb(211, 232, 190);
    border:1px solid rgb(154, 222, 235);
}
body{
    height:99vh;
    font-size:calc(0.5em+2vw);
    position: relative;
}
header{
    height:15%;
    font-size:2em;
    position:relative;
    background-color: antiquewhite;
}
nav{
    height:10%;
    font-size:1.7em;
    background-color: rgb(159, 163, 221);
}

main{
    height:60%;
    font-size: 1.7em;
    background-color: rgb(207, 193, 223);
}
footer{
    height:10%;
    background-color: rgb(235, 196, 164);
    color:aliceblue;
    font-size: 1.5em;
}
button{
    padding:0.1em;
    font-size:1em;
}
form{
    font-size:1.2em;
    background-color: rgb(143, 190, 212);
    position: absolute;
    width:90%;
    height: 80%;
    left:5%;
    top:10%;
    border: 2px solid beige; 
}
form input{
    font-size:1.2em;
}
span#level{
    display: block;
    position: absolute;
    right:20px;
    top:1px;
    color:blue;
    font-size: 0.5em;
}
p.cn{
  border:1px solid blue ;
  background-color: antiquewhite;
  cursor: pointer;
}
p.cn:hover{
    color: blue ;
}
header span#response{
    font-size: 0.8em;
    color: red;
    position: absolute;
    right: 0.5em;
}
